* {  
  margin: 0;  
  padding: 0;  
  box-sizing: border-box;  
}  
  
#root {  
  height: 100%;  
}  
  
.App {  
  text-align: center;  
}  

/* body change */

#dark {  
  background-color: #363333;  
  color: white;  
  height: 100%;  
  width: 100%;  
  transition-duration: 0.7s;  
}  
  
#light {  
  background-color: #faf7f2;  
  color: black;  
  height: 100%;  
  width: 100%;  
  transition-duration: 0.7s;  
}  
  
#dark .tile {  
  background-color: #696969bb;  
  color: white;  
  border-radius: 3rem;  
  padding: 0.5rem;  
}  
  
#light .tile {  
  background-color: #e6e6e6bb;  
  color: black;  
  border-radius: 3rem;  
  padding: 0.5rem;  
}  

.container {  
  display: flex;  
  flex-wrap: wrap;  
  justify-content: center;  
  align-items: center;  
  gap: 1rem;  
}  

/* About css */
.about-container {  
  position: relative;  
  display: flex;  
  flex-wrap: wrap;  
  margin-left: 5%;  
  text-align: left;  
  padding: 0.5%;  
  max-width: 60%;  
  justify-content: left;  
}  

.titles {
  display: flex;  
  align-items: center;  
  justify-content: center;  
  padding-left: 1rem;  
  padding-right: 1rem;  
  height: auto;  
  border-radius: 3rem 0 0 3rem;  
  max-width: 30%;  
  width: auto;  
}  

#dark .titles {  
  background-color: #696969bb;  
  background-color: #363333;  
}  
  
#light .titles {  
  background-color: #ecececbb;  
  background-color: #ffffff;  
}  


.titles h1 {  
  font-size: 1.5rem;  
  font-weight: bolder;  
}  
  
.body {  
  padding-top: 0.5%;  
  padding: 1%;  
  font-size: 1rem;  
  display: flex;  
  align-items: center;  
  justify-content: flex-end;  
  width: auto;  
  flex: 1;  
  white-space: normal;  
  font-size: 14px;  
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;  
}  

img {   
  max-width: 100%;   
  height: auto;   
  border-radius: 4rem;   
  padding: 0.6rem;  
}  
  
.map-container{  
  transform: scale(0.7);  
}  